@model OnlineTicariOtomasyon.Models.Siniflar.Cascading

@{
    ViewBag.Title = "CascadingDeneme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $(function () {

        $('#DrpKategori').change(function () {

            var id = $('#DrpKategori').val();

            $.ajax({

                url: '/Kategori/urungetir',

                data: { p: id },

                type: "POST",

                dataType: "Json",

                success: function (data) {

                    console.log(data);

                    $('#DrpUrunler').empty();

                    for (var i = 0; i < data.length; i++) {

                        $('#DrpUrunler').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");

                    }

                }

            });

        });

    });

</script>

<br />
<div>
    <h2>Kategoriler - Ürünler</h2>
</div>
<div>
    @Html.Label("Kategoriler")
    @Html.DropDownList("DrpKategori", Model.Kategoriler, "---Kategori Seçiniz---", new { @class = "form-control" })

    @Html.Label("Urunler")
    @Html.DropDownList("DrpUrunler", Model.Urunler, "---Urun Seçiniz---", new { @class = "form-control" })

</div>