
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div>
    <h2>Takip Karekodu</h2>
    <br />
    @if (ViewBag.karekodimage != null) 
    { 
        <img src="@ViewBag.karekodimage" alt="" style="width:300px;height:300px"/>
    }
</div>


